@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Background Colors */
  --main-bg: #1c1c1d;
  --header-alt-bg: #1c1c1d;
  --toggle-bg: #39393d;
  --muted-bg: #272728;
  --highlight-bg: #2e242f;
  --active-bg: #222223;
  --active-alt-bg: #2b2b2c;

  /* Text Colors */
  --disabled-text: #606060;
  --placeholder-text: #98989e;
  --section-header-text: #8d8e93;

  /* Gray Colors */
  --gray: #c9c9cd;
  --light-gray: #e3e3e8;
  --slate-gray: #8e8e93;
  --dark-gray: #313135;
  --icon-gray: #666;
  --border-gray: #313132;
  --muted-text-gray: #7a7a7a;
  --border-gray: "#616166";

  /* Accent Colors */
  --primary-accent: #3e88f7;
  --inactive-state: #2f2f2f;
}
* {
  font-family: Vazirmatn, sans-seri !important;
}

body,
html {
  @apply min-h-screen text-white bg-black overflow-x-hidden md:hidden md:bg-white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}
@layer utilities {
  input:-webkit-autofill {
    @apply !bg-transparent !text-white
    /* background-color: transparent !important; */
    /* -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; */
    /* box-shadow: 0 0 0px 1000px transparent inset !important; */
    /* color: red !important; */
    /* transition: transparent 9999s ease-in-out 0s !important;  */;
  }
}

.input-style {
  @apply py-2.5 px-4 !text-white text-17 bg-transparent w-full 
   rounded-base border  border-border-gray autofill:!text-white;
}
.input-error {
  @apply block mt-1 text-xs font-normal text-primary;
}
.checked-input-radio {
  @apply block bg-transparent border border-white rounded-full size-6 outline-2 peer-checked:border-2 peer-checked:border-black peer-checked:outline-primary peer-checked:bg-primary peer-checked:outline;
}

.wheel.keen-slider {
  display: block;
  color: #fff;
  height: 100%;
  overflow: visible;
  width: 100%;
}
.wheel--perspective-right .wheel__inner {
  perspective-origin: calc(50% + 100px) 50%;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
}
.wheel--perspective-left .wheel__inner {
  perspective-origin: calc(50% - 100px) 50%;
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
}

.wheel__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: 16%;
  width: 100%;
}

.wheel__slides {
  height: 100%;
  position: relative;
  width: 100%;
}

.wheel__shadow-top,
.wheel__shadow-bottom {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  left: 0;
  height: calc(42% + 2px);
  width: 100%;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
  position: relative;
  margin-top: -2px;
  z-index: 5;
}

.wheel__shadow-bottom {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  margin-top: 2px;
  border-bottom: none;
  border-top: 0.5px solid rgba(255, 255, 255, 0.3);
}

.wheel__label {
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  margin-top: 1px;
  margin-left: 5px;
}

.wheel__slide {
  display: flex;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  position: absolute;
  /* justify-content: flex-end; */
}

::-webkit-scrollbar {
  border-radius: 5px !important;
  border: 3px solid transparent !important;
  background-color: rgba(255, 255, 255, 0.101961) !important;
  background-clip: content-box !important;
  width: 10px !important;
}
::-webkit-scrollbar:hover {
  background-color: rgba(255, 255, 255, 0.172549) !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  border: 3px solid transparent !important;
  background-color: rgba(255, 255, 255, 0.32549) !important;
  background-clip: content-box !important;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.478431) !important;
}
::-webkit-scrollbar {
  border-radius: 5px !important;
  border: 3px solid transparent !important;
  background-color: rgba(255, 255, 255, 0.101961) !important;
  background-clip: content-box !important;
  width: 10px !important;
}
::-webkit-scrollbar:hover {
  background-color: rgba(255, 255, 255, 0.172549) !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  border: 3px solid transparent !important;
  background-color: rgba(255, 255, 255, 0.32549) !important;
  background-clip: content-box !important;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.478431) !important;
}

@keyframes fade {
  from {
    transform: translateY(-5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-animation {
  animation: fade 0.5s;
}

.picture-input:nth-child(1){
  @apply rounded-tr-xl
}
.picture-input:nth-child(2){
  @apply rounded-tl-xl
}
.picture-input:nth-child(3){
  @apply rounded-br-xl
}
.picture-input:nth-child(4){
  @apply rounded-bl-xl
}